.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background: #ffffff;
    width: 500px;
  }
body {
    background-image: url('FMS.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #000000;
    color: #000000;
    box-shadow: 9999px 0 0 -5px #000000;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
    
  }
  
  .dot-pulse::before, .dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #000000;
    color: #000000;
  }
  
  .dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #000000;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
  }
  
  .dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #000000;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
  }
  
  @keyframes dotPulseBefore {
    0% {
      box-shadow: 9984px 0 0 -5px #000000;
    }
    30% {
      box-shadow: 9984px 0 0 2px #000000;
    }
    60%,
    100% {
      box-shadow: 9984px 0 0 -5px #000000;
    }
  }
  
  @keyframes dotPulse {
    0% {
      box-shadow: 9999px 0 0 -5px #000000;
    }
    30% {
      box-shadow: 9999px 0 0 2px #000000;
    }
    60%,
    100% {
      box-shadow: 9999px 0 0 -5px #000000;
    }
  }
  
  @keyframes dotPulseAfter {
    0% {
      box-shadow: 10014px 0 0 -5px #000000;
    }
    30% {
      box-shadow: 10014px 0 0 2px #000000;
    }
    60%,
    100% {
      box-shadow: 10014px 0 0 -5px #000000;
    }
  }
  